.tab-pane {
  height: 400px;
  /* width: 800px; */
}

.chartArea {
  height: 400px;
  /* width: 800px; */
}

/* Fix Google Charts' tooltip flickering bug */
svg > g > g:last-child {
  pointer-events: none;
}

.button4 {
  color: #808080;
  background-color: white;
  border-top: 3px solid #e7e7e7;
  border-bottom: 3px solid #e7e7e7;
  border-right: 0px;
  border-left: 0px;
  margin-left: -6px;
}

.button4:hover {
  background-color: #e7e7e7;
}

.button1 {
  color: #333333;
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
}

.button1:hover {
  background-color: #e7e7e7;
}

.top {
  font-weight: bold;
  font-size: 40px;
  color : #666666;
  margin-right : 15px;
}

.statistics{
  background-color : lavender;
  margin-top : 10px;
}

.typing {
  color: #666666;
  font-size : 25px;
  margin-left : 20px;
}
